@media all and (max-width: 768px){
* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	text-decoration: none; 
	color : #F3F3F3;
	font-size : 18px;
	font-family : 'Comfortaa', Sans-Serif; 
}
html {
	height: auto;
	background : linear-gradient(to bottom, #876FBE 1%, #5F4B8B 100%);		
}
body {
	margin: auto;
	height: 100%;
	width: 100%;
	color: ivory;
	font-family: 'Comfortaa' Sans-Serif !important;
	font-size: 16px;
	line-height: 50px;
}
h1{	font-weight: bold;
	font-size: 20px;
	color: #FFF497; 
	line-height: 30px;
	text-align: center;
}
.milieu {
	background : #5F4B8B;
	margin: auto;
	padding: 15%;
	box-shadow: 2px 2px 4px #9fe855;
	height: auto;
	width: 60%;
	line-height: 40px.
}

img{
	vertical-align: text-top;
	width: 30px;
	height: 30px;
	margin:  0px 30px 30px 0px;
	border: 3px inset #FFF497;
	border-radius: 30px;
	float: left;
	display: inline-block;
}
}
/*fin xs*/
@media all and (min-width: 768px){
* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	text-decoration: none; 
	color : #F3F3F3;
	font-size : 20px;
	font-family : 'Comfortaa', Sans-Serif; 
}
html {
	height: auto;
	min-height: 100%;
}

body {
	margin: auto;
	height: 100%;
	width: 100%;
	background : linear-gradient(to bottom, #876FBE 1%, #5F4B8B 100%);	

}
h1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	color: #FFF497; 
}

.milieu{
	background : #5F4B8B;
	vertical-align: top;
	text-align: left;
	width: 50%;
	max-width: 500px;
	border-radius: 5px;
	margin: auto;
	padding: 15%;
	box-shadow: 3px 3px 10px #9fe855;
	height: auto;
	line-height: 40px.
}
img {
	vertical-align: text-top;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin:  0px 35px 35px 0px;
	border: 3px inset #FFF497;
	float: left;
	display: inline-block;
}
p {line-height: 60px; display: inline-block; width: 100%;}
}
/*fin format sup a 480*/
