@media all and (min-width: 991.1px){

html {
	background-color: #000000;
	background-image: url("../img/stars.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	min-width: 320px;
}
body {
	background-color: rgba(0,0,0,0.7);
	color: #ffffff !important;
	width: 66%;
	width: 1080px;
	margin: auto;
    scroll-behavior: smooth;
}
nav {max-width: 1080px; margin: auto;}
header.masthead {
	background-image: url("../img/earth1080.jpg");
	background-size: cover;
	padding-top: calc(17rem + 100px);
	width: 1080px;
}
#sec0 {
	background-color: rgba(10,10,10,0.4);
	color: #3BB3FC;
}

#sec1 {
	background-color: rgba(50,50,50,0.4);
	color: #6BBBBC;
}
#sec2 {
	background-color: rgba(100,100,100,0.4);
	color: #C6AFA9;
}
#contact{
	background-color: rgba(190,190,190,0.4);
	color: #CBE1E7;
}
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.card {
	border:none;
	border-radius: 0px;
	background-color: rgba(143,8,0,0.2) !important;
	color: rgba(143,108,125,1) !important;

}
.card-header {
	background-color: rgba(143,8,25,0.2) !important;
	border:none;
	border-radius: 0px;
}
.card-body {
	background-image: url("../img/0003.jpg");
	background-size: cover;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus,.btn-outline-primary,.btn-outline-primary:hover,.btn-outline-primary:focus, {
	background-color: rgba(143,8,25,0.5) !important;
	border: none;
	color: ivory;

}
}



@media all and (max-width: 991px){
html {
	background-color: #000000;
	background-image: url("../img/stars.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	min-width: 320px;
}
body {
	background-color: rgba(0,0,0,0.7);
	color: #ffffff !important;
	min-width: 300px;
	margin: auto;
    scroll-behavior: smooth;
}
nav { 
	min-width: 300px;
	margin: auto;
}
header.masthead {
	background-image: url("../img/earth1080.jpg");
	padding-top: calc(10rem + 100px);
}
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
#sec0 {
	background-color: rgba(10,10,10,0.4);
	color: #3BB3FC;
}

#sec1 {
	background-color: rgba(50,50,50,0.4);
	color: #6BBBBC;
}
#sec2 {
	background-color: rgba(100,100,100,0.4);
	color: #C6AFA9;
}
#contact{
	background-color: rgba(190,190,190,0.4);
	color: #CBE1E7;
}
}
