@font-face {
    font-family: "klingon_fontregular";
    src: url('./css/galacfont/klingon_font-webfont.woff2') format('woff2'),
         url('./css/galacfont/klingon_font-webfont.woff') format('woff'),
	 url('./css/galacfont/klingon_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@media all and (max-width: 991px){
* {
    -moz-transition: width 1.5s ease-in-out;
    -webkit-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}
html {
	background-color: #000000;
	background-image: url("../img/stars.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	min-width: 320px;
}
body {
	background-color: rgba(0,0,0,0.2);
	color: #ffffff !important;
	text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.8) !important;
	min-width: 300px;
	margin: auto;
    	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;

}
p {
	color: white;
	}
nav { 
	min-width: 300px;
	margin: auto;
}
li.nav-item {
    font-family: Catamaran;
	font-weignt: 100;
}
#carouselExampleFade {
	margin-top: 80px;
}
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.rounded-circle {box-shadow: 0px 0px 6px black;}
#sec0 {
	background : linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	color: #37AECB;
}

#sec1 {
	background-color: rgba(50,50,50,0.4);
	color: #c48ebf;
	}
#sec2 {
	background-color: rgba(100,100,100,0.4);
	color: #f5aff5;
}
#contact{
	background : linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	color: #CBE1E7; padding-bottom: 0px !important;
}
.card {
	border:none;
	border-radius: 0px;
	background-color: rgba(143,8,0,0.2) !important;
	color: white !important;
}
.card-header {
	background-color: rgba(30,0,44,0.5) !important;
	border:none;
	border-radius: 0px;
	color: white !important;
}
.multi{
	background-image: url("../img/worm.jpg");
	background-size: cover;
}
.jup{
	background-image: url("../img/jup.jpg");
	background-size: cover;
}
.orion{
	background-image: url("../img/orion600.jpg");
	background-size: cover;
}
form {
	border-radius: 6px;
	box-shadow: 0px 0px 30px Gainsboro;
}
	
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus {
	background-color: rgba(30,0,44,0.5) !important;
	border: rgba(30,0,44,0.8) !important;
	color: ivory;

}
.btn-info{
	background-colour:rgba(30,0,44,0.8) !important;
	}
footer {
	background-image: url("../img/footermoon.png")!important;
	background-size: cover;
	background-color: transparent !important;
	padding: 10%;
	margin: 0 auto !important;
	color: #37AECB !important;
}
.mb-md-5, .my-md-5{
	margin: 0 auto !important;
}
.text-muted {
	color: white !important;
}
.klingon {
	font-family: 'klingon_fontregular';
}
h5 {
	color: #f5aff5;
}
}
@media all and (min-width: 991.1px){
* {
    -moz-transition: width 1.5s ease-in-out;
    -webkit-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}
html {
	background-color: #000000;
	background-image: url("../img/bckdbig.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
	min-width: 320px;
}
body {
	background-color: rgba(0,0,0,0.2);
	color: #ffffff !important;
	text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.8) !important;
	width: 1080px;
	margin: auto;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;

}
p {
	color: white;
}
li.nav-item {
    font-family: Catamaran;
	font-weignt: 100;
}
nav {max-width: 1080px; margin: auto;}
#carouselExampleFade {
	margin-top: 80px;
	width: 1080px;
}
.rounded-circle {box-shadow: 0px 0px 6px black;}
#sec0 {
	background : linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	color: #37AECB;
}

#sec1 {
	background-color: rgba(50,50,50,0.4);
	color: #c48ebf;
	}
#sec2 {
	background-color: rgba(100,100,100,0.4);
	color: #f5aff5;
}
#contact{
	background : linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
	color: #CBE1E7; padding-bottom: 0px !important;
}
section {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0;
	text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.8) !important;
}
.card {
	border:none;
	border-radius: 0px;
	background-color: rgba(143,8,0,0.2) !important;
	color: white !important;
}
.card-header {
	background-color: rgba(30,0,44,0.5) !important;
	border:none;
	border-radius: 0px;
	color: white !important;
}
.multi{
	background-image: url("../img/worm.jpg");
	background-size: cover;
}
.jup{
	background-image: url("../img/jup.jpg");
	background-size: cover;
}
.orion{
	background-image: url("../img/orion600.jpg");
	background-size: cover;
}
form {
	border-radius: 6px;
	box-shadow: 0px 0px 30px Gainsboro;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus {
	background-color: rgba(30,0,44,0.5) !important;
	border: #D116B9 !important;
	color: ivory;

}
.btn-info{
	background-colour:rgba(30,0,44,0.8) !important;
	}
footer  {
	background-image: url("../img/footermoon.png")!important;
	background-size: cover;
	background-position: top;
	background-color: transparent !important;
	padding: 10%;
	margin: 0 auto !important;
	color: #37AECB !important;
}
.mb-md-5, .my-md-5{
	margin: 0 auto !important;
}
.text-muted {
	color: white !important;
}
.klingon {
	font-family: 'klingon_fontregular';
}
h5 {
	color: #f5aff5;
}
}
